In [21]:
import pandas as pd

df = pd.read_json("https://github.com/exoonero/analises/raw/main/df.zip")
print(df.shape)
print(df.head())
print("\n## Total de municípios: " + str(df["municipio"].unique().size))

(172155, 9)
   municipio       cod  possui_nomeacoes  possui_exoneracoes  num_nomeacoes  \
0    batalha  5D95E55C             False               False              0
1  taquarana  D6DCB518             False               False              0
2  taquarana  E48AC138             False               False              0
3  taquarana  1B977826             False               False              0
4  taquarana  E2BC3613             False               False              0

   num_exoneracoes   ano  mes  dia
0                0  2015    8   27
1                0  2015    8   27
2                0  2015    8   27
3                0  2015    8   27
4                0  2015    8   27

## Total de municípios: 94

In [22]:
print("\n## Total de atos: " + df["cod"].count().astype(str))

print("\n## Total de Atos por mês\n")
print(df.groupby(["ano", "mes"])["cod"].count())

## Total de atos: 172155

## Total de Atos por mês

ano   mes
2014  4         1
      5         5
      6        10
      7         6
      8         2
             ...
2023  6      3728
      7      3671
      8      4097
      9      3783
      10     2789
Name: cod, Length: 115, dtype: int64

In [23]:
print("\n## Média de Atos dos município mês\n")
print(df.groupby(["ano", "mes"])[["cod", "municipio"]].apply(
    lambda x: x.count() / x["municipio"].unique().size)["cod"])

## Média de Atos dos município mês

ano   mes
2014  4       1.000000
      5       5.000000
      6      10.000000
      7       6.000000
      8       2.000000
               ...
2023  6      41.422222
      7      40.788889
      8      45.021978
      9      41.571429
      10     30.648352
Name: cod, Length: 115, dtype: float64

In [24]:
print("\n## Top 10 Municípios com maior número de atos\n")
print(df.groupby(["municipio"])["cod"].count().sort_values(ascending=False).head(10))

## Top 10 Municípios com maior número de atos

municipio
arapiraca           11036
marechal-deodoro    10149
teotonio-vilela      8603
delmiro-gouveia      6780
campo-alegre         6699
rio-largo            5769
maragogi             5092
pilar                5037
inhapi               3900
junqueiro            3700
Name: cod, dtype: int64

In [25]:
print("\n## Total de nomeações: " + df["num_nomeacoes"].sum().astype(str))

print("\n## Nomeações por mês\n")
print(df.groupby(["ano", "mes"])["num_nomeacoes"].sum())

## Total de nomeações: 15077

## Nomeações por mês

ano   mes
2014  4        0
      5        0
      6        0
      7        0
      8        0
            ...
2023  6      366
      7      285
      8      231
      9      152
      10     167
Name: num_nomeacoes, Length: 115, dtype: int64

In [26]:
print("\n## Média de Nomeações dos município por mês\n")
print(df.groupby(["ano", "mes"])[["municipio", "num_nomeacoes"]].apply(
    lambda x: x["num_nomeacoes"].sum() / x["municipio"].unique().size))

## Média de Nomeações dos município por mês

ano   mes
2014  4      0.000000
      5      0.000000
      6      0.000000
      7      0.000000
      8      0.000000
               ...
2023  6      4.066667
      7      3.166667
      8      2.538462
      9      1.670330
      10     1.835165
Length: 115, dtype: float64

In [27]:
print("\n## Top 10 Municípios com maior número de nomeações\n")
print(df.groupby(["municipio"])["num_nomeacoes"].sum(
).sort_values(ascending=False).head(10))

## Top 10 Municípios com maior número de nomeações

municipio
maragogi                1615
teotonio-vilela         1244
marechal-deodoro        1152
junqueiro               1056
delmiro-gouveia          796
arapiraca                728
rio-largo                583
maravilha                438
atalaia                  421
santa-luzia-do-norte     368
Name: num_nomeacoes, dtype: int64

In [28]:
print("\n## Total de exonerações: " + df["num_exoneracoes"].sum().astype(str))

print("\n## Exonerações por mês\n")
print(df.groupby(["ano", "mes"])["num_exoneracoes"].sum())

## Total de exonerações: 2712

## Exonerações por mês

ano   mes
2014  4       0
      5       0
      6       0
      7       0
      8       0
             ..
2023  6      44
      7      46
      8      52
      9      79
      10     41
Name: num_exoneracoes, Length: 115, dtype: int64

In [29]:
print("\n## Média de Exonerações dos município por mês\n")
print(df.groupby(["ano", "mes"])[["municipio", "num_exoneracoes"]].apply(
    lambda x: x["num_exoneracoes"].sum() / x["municipio"].unique().size))

## Média de Exonerações dos município por mês

ano   mes
2014  4      0.000000
      5      0.000000
      6      0.000000
      7      0.000000
      8      0.000000
               ...
2023  6      0.488889
      7      0.511111
      8      0.571429
      9      0.868132
      10     0.450549
Length: 115, dtype: float64

In [30]:
print("\n## Top 10 Municípios com maior número de exonerações\n")
print(df.groupby(["municipio"])["num_exoneracoes"].sum().sort_values(ascending=False).head(10))

## Top 10 Municípios com maior número de exonerações

municipio
marechal-deodoro     338
maragogi             328
delmiro-gouveia      204
major-izidoro        200
inhapi               197
rio-largo            152
minador-do-negrao    111
teotonio-vilela      104
junqueiro            104
atalaia               94
Name: num_exoneracoes, dtype: int64